/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#map {
	height: 100%;
	width: 100%;
	margin:0;
	padding:0;
}
/* Optional: Makes the sample page fill the window. */
html, body, #map-container{
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}
#sidebar{
	position:absolute;
	background:#555555;
	height:100%;
	width: 30%;	
	color:white;
	padding:80px 30px 20px 10px;
	z-index: 1;
	overflow-y:scroll;
}
.ui-dialog .ui-dialog-titlebar {
	position: relative;
	background: #333333;
	color:white;
	border:0px solid white;
	border-radius:0px;
	margin:0px;
}
.ui-dialog .ui-dialog-titlebar-close{
	background: #333333;
	color:white;
	border: 0px solid #333333;
}
.ui-dialog .ui-dialog-titlebar-close:hover{
	background: #555555;
	color:white;
	border: 0px solid #333333;
}
.ui-dialog .ui-dialog-titlebar-close:focus{
	background: #333333;
	color:white;
	border: 0px solid #333333;
	outline:0;
}
#dialog{

}
p{

}
h3{
	font-size:18px;
}
.fa-globe{
	padding-right:10px;
}
.articles{
	padding-bottom: 20px;
}
.fa-question-circle{
	color:white;
	padding-left: 30px;
	font-size: 25px;
	padding-top:5px;

}
.fa-question-circle:hover{
	color:gray;
}